<div class="text-image-container">
  <div class="text-image-figure">
    {{- $imagePath := .Get "src" -}}
    {{- if $.Site.Params.isGitHubPages -}}
      {{- $basePath := urls.Parse $.Site.BaseURL -}}
      {{- $pathOnly := $basePath.Path -}}
      {{- if ne $pathOnly "/" -}}
        {{- $imagePath = printf "%s%s" $pathOnly $imagePath -}}
      {{- end -}}
    {{- end -}}
    <img src="{{ $imagePath }}" alt="{{ .Get "alt" }}">
  </div>
  <div class="text-image-content">
    {{ .Inner }}
  </div>
</div>